<!DOCTYPE html>
<html>
    <head>
        <title>exo-barrier</title>
        <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
        <link rel="stylesheet" href="stylesheets/style.css" />
        
        <!-- utils -->
        <script src="javascripts/vendor/tone/Tone.js"></script>
        <script src="javascripts/vendor/ajax/ajax.min.js"></script>
        <script src="javascripts/vendor/moment/moment.js"></script>

        <!-- graphs & data -->
        <script src="javascripts/vendor/Alea/alea.js"></script>
        <script src="javascripts/vendor/tweenjs/Tween.js"></script>
        <script src="javascripts/vendor/crossfilter/crossfilter.js"></script>
        
        <!-- three.js -->
        <script src="javascripts/vendor/threejs/three.js"></script>

        <!-- react -->
        <script src="javascripts/vendor/react/react.js"></script>
        <script src="javascripts/vendor/reflux/reflux.js"></script>
        <script src="javascripts/vendor/react/react-dom.js"></script>

        <!-- app loader -->
        <script src="javascripts/vendor/requirejs/require.js"
            data-main="javascripts/main.js"></script>
    </head>
    <body>
        <!-- app container -->
        <div id="page"></div>
    </body>
</html>